@charset "UTF-8";

body{
    background-color: #ADD8E6;
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    background-color: #FFE4B5;
}

h1{
    color: #000080;
}

h1#principal{
    color: red;
}

h2{
    color: #353d2f;
}

.basico{
    color: #FFC0CB;
}

.avancado{
    color: #00FFFF;
}

.destaque{
    background-color: yellow;
}