@charset "UTF_8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header {
    color: white;
    background-color: black;
    font-weight: normal;
    text-align: center;
    height: 235px;
    padding-top: 50px;
}

header h1{
    font-size: 153px;
    font-family: 'Passion One', cursive, Arial, Helvetica, sans-serif;
}

nav{
    font-size: 20px;
    
}

nav a{
    font-family: 'Passion One', cursive, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

nav:hover a{
    text-decoration: underline;
}


body{
    margin: auto;
}



.conteudo#primeiro article > pre{
    
    font-family: 'Sriracha', cursive;
    font-size: 53px;
    padding: 20px;
    padding-top: 65px;
    padding-left: 30px;
    line-height: 110px;
}

section#segundo article {
    position: relative;
}

section#segundo article > img{
    background-size: cover;
    background-attachment: fixed;
    display: block;
    width: 100%;
}

.conteudo#segundo article pre{
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Sriracha', cursive;
    font-size: 53px;
    padding: 20px;
    padding-top: 65px;
    line-height: 110px;
    background-color: #0000005a;
    color: white;
}

.conteudo#terceiro article pre{
    font-family: 'Sriracha', cursive;
    font-size: 53px;
    padding: 20px;
    padding-top: 65px;
    padding-left: 30px;
    line-height: 110px;
}

.conteudo#quarto article pre{
    font-family: 'Sriracha', cursive;
    font-size: 53px;
    padding: 20px;
    padding-top: 65px;
    padding-left: 30px;
    line-height: 110px;
}

section#quinto article {
    position: relative;
}

section#quinto article > img{
    background-size: cover;
    background-attachment: fixed;
    display: block;
    width: 100%;
}

.conteudo#quinto article pre{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 80%;
    font-family: 'Sriracha', cursive;
    font-size: 53px;
    padding: 20px;
    padding-top: 65px;
    line-height: 110px;
    background-color: #0000005a;
    color: white;
}

.conteudo#sexto article pre{
    font-family: 'Sriracha', cursive;
    font-size: 53px;
    padding: 20px;
    padding-top: 65px;
    padding-left: 30px;
    line-height: 110px;
}

.conteudo#sete article pre{
    font-family: 'Sriracha', cursive;
    font-size: 53px;
    padding: 20px;
    padding-top: 65px;
    padding-left: 30px;
    line-height: 110px;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;

}